/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --warning-bg: #FBD062;
  --light-bg: #F4F7FC;
  --text-primary: #7AB259;
  --success-btn: #009444;
  --text-black: #000000;
  --text-white: #ffffff;
  --text-dark: #111430;
  --text-semi-dark: #2D2D2D;
  --text-light: rgba(0, 0, 0, 0.7);
  --text-light-down: rgba(0, 0, 0, 0.5);
}

/* Section Title */
.section_title {
  font-weight: 600;
  font-size: 34px;
  letter-spacing: 0.396px;
  color: var(--text-semi-dark);
}

.section_subtitle {
  color: var(--text-primary);
}